{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% translate "Add" %} {{ day }}
{% endblock title %}

{% block h1 %}
  <h1>{% translate "Add data for" %} {{ day }}</h1>
{% endblock h1 %}

{% block main %}
  <form method="post" action="{% url "sleep:create_other_day" view.kwargs.day %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% translate "Add" %}" />
  </form>
{% endblock main %}
