{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% translate "Nocturnal awakenings list" %}
{% endblock title %}

{% block h1 %}
  <h1>{% translate "Nocturnal awakenings list" %}</h1>
{% endblock h1 %}

{% block main %}

  <p>
    {% translate "Awakenings for night" %} {{ night.day }}:
  </p>

  <ul>
    {% for awakening in awakenings %}
      <li>
        <a href="{% url "sleep:edit_nocturnal_awakening" awakening.night.day awakening.id %}">From {{ awakening.sleep_end_hour }} to {{ awakening.sleep_start_hour }}</a>
      </li>
    {% empty %}
      <li>
        {% translate "No awakening yet." %}
      </li>
    {% endfor %}
  </ul>

  <a href="{% url "sleep:add_nocturnal_awakening" night.day %}">{% translate "Add awakening" %}</a>
{% endblock main %}
