{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% translate "Edit nocturnal awakening" %}
{% endblock title %}

{% block h1 %}
  <h1>{% translate "Edit nocturnal awakening" %}</h1>
{% endblock h1 %}

{% block main %}

  <p>
    {% translate "Awakening for night" %} {{ date }}:
  </p>

  <form method="post" action=".">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% translate "Submit" %}" />
  </form>

{% endblock main %}
