{% extends "base.html" %}
{% load i18n audodo_tags %}

{% block title %}
  {% translate "History" %} {{ time }}
{% endblock title %}

{% block h1 %}
  <h1>{% translate "History" %} {{ time }}</h1>
{% endblock h1 %}

{% block main %}

  <nav>
    <a class="button" href="{% url "sleep:history" previous_month.year previous_month.month %}">{% translate "Previous month" %}</a>
    {% if next_month %}
      <a class="button" href="{% url "sleep:history" next_month.year next_month.month %}">{% translate "Next month" %}</a>
    {% else %}
      <i>{% translate "Next month" %}</i>
    {% endif %}
  </nav>

  {% if days_to_come %}
    <details>
      <summary>{% translate "Show/hide days to come until the end of the month" %}</summary>
      <ul>
        {% for sleep_log in days_to_come %}
          <li>
            {% if sleep_log.id %}
              {{ sleep_log.status_emoji }} {% get_nice_text_for_current_night sleep_log.day %} : {{ sleep_log.simple_str }} <i>(<a href="{% url "sleep:edit_other_day" sleep_log.day %}">{% translate "edit" %}</a>)</i>
            {% else %}
              ❌ {% get_nice_text_for_current_night sleep_log %} <i>(<a href="{% url "sleep:create_other_day" sleep_log %}">{% translate "add" %}</a>)</i>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </details>
  {% endif %}

  <ul>
    {% for sleep_log in previous_days %}
      <li{% if forloop.first %} class="current_day"{% endif %}>
        {% if sleep_log.id %}
          {{ sleep_log.status_emoji }} {% get_nice_text_for_current_night sleep_log.day %} : {{ sleep_log.simple_str }} <i>(<a href="{% url "sleep:edit_other_day" sleep_log.day %}">{% translate "edit" %}</a>)</i>
        {% else %}
          ❌ {% get_nice_text_for_current_night sleep_log %} <i>(<a href="{% url "sleep:create_other_day" sleep_log %}">{% translate "add" %}</a>)</i>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <nav>
    <a class="button" href="{% url "sleep:history" previous_month.year previous_month.month %}">{% translate "Previous month" %}</a>
    {% if next_month %}
      <a class="button" href="{% url "sleep:history" next_month.year next_month.month %}">{% translate "Next month" %}</a>
    {% else %}
      <i>{% translate "Next month" %}</i>
    {% endif %}
  </nav>
{% endblock main %}
