{% load i18n %}

<p>{% translate "Naps" %}</p>
<ul>
  {% for nap in naps %}
    <li>
      <a href="{% url "sleep:edit_nap" nap.day nap.id %}">{% translate "From" %} {{ nap.lay_down_hour }} {% translate "to" %} {{ nap.get_up_hour }}</a>
    </li>
  {% empty %}
    <li>
      {% translate "No nap on" %} {{ current_day }}.
    </li>
  {% endfor %}
</ul>
<p>
  {% if sleep_log_day %}
    <a class="button" href="{% url "sleep:add_nap" sleep_log_day.day %}">{% translate "Add a nap" %}</a>
  {% else %}
    <i>{% translate "Add a nap" %}</i>
  {% endif %}
</p>

<p>{% translate "Nocturnal awakenings" %}</p>
<ul>
  {% for nocturnal_awakening in nocturnal_awakenings %}
    <li>
      <a href="{% url "sleep:edit_nocturnal_awakening" sleep_log_day.day nocturnal_awakening.id %}">
        {% blocktranslate with sleep_end_hour=nocturnal_awakening.sleep_end_hour sleep_start_hour=nocturnal_awakening.sleep_start_hour %}From {{ sleep_end_hour }} to {{ sleep_start_hour }}{% endblocktranslate %}
      </a>
    </li>
  {% empty %}
    <li>
      {% translate "No nocturnal awakening" %} {% translate "between" %} {{ current_day }} {% translate "and" %} {{ tomorrow }}.
    </li>
  {% endfor %}
</ul>
<p>
  {% if sleep_log_day %}
    <a class="button" href="{% url "sleep:add_nocturnal_awakening" sleep_log_day.day %}">{% translate "Add a nocturnal awakening" %}</a>
  {% else %}
    <i>{% translate "Add a nocturnal awakening" %}</i>
  {% endif %}
</p>
