{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% translate "Update" %} {{ object.day }}
{% endblock title %}

{% block h1 %}
  <h1>{% translate "Update data for" %} {{ object.day }}</h1>
{% endblock h1 %}

{% block main %}
  <form method="post" action="{% url "sleep:edit_other_day" object.day %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% translate "Update" %}" />
  </form>

  {% include "sleep/naps_and_awakenings_list.html" %}

  <a href="{% url "sleep:history" object.day.year object.day.month %}">{% translate "Return to history" %}</a>
{% endblock main %}
