{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% translate "Statistics" %} {{ time }}
{% endblock title %}

{% block h1 %}
  <h1>{% translate "Statistics" %} {{ time }}</h1>
{% endblock h1 %}

{% block main %}
  <h2>{% translate "Last 7 days" %}</h2>
  <p>
    {% translate "You slept" %} {{ 7_hours_per_night }} {% translate "hours per night, with" %}
  </p>

  <h2>{% translate "Last month" %}</h2>
  <p>
    {% translate "You " %}
  </p>

  <h2>{% translate "Total" %}</h2>
  <p>
    {% translate "You " %}
  </p>
{% endblock main%}
