{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% translate "login" %}
{% endblock title %}

{% block h1 %}
  {% translate "Login" %}
{% endblock h1 %}

{% block main %}
  <form method="post" action=".">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="{% translate 'Log in' %}" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  <p>{% translate "Forgot password" %}? <a href="{% url 'user:password_reset' %}">{% translate "Reset it" %}</a>!</p>
{% endblock main %}
