{% extends "base.html" %}
{% load i18n %}

{% block main %}

  <p>{% translate "Password reset successfully" %}</p>

  <p><a href="{% url 'user:login' %}">{% translate "Log in" %}</a></p>

{% endblock main %}
