{% extends "base.html" %}
{% load i18n %}

{% block main %}

  {% if validlink %}

    <form method="post" action=".">
      {% csrf_token %}
      {{ form.as_p }}

      <input type="submit" value="{% translate 'Submit' %}" />
    </form>

  {% else %}

    <p>{% translate "Password reset failed" %}</p>

  {% endif %}

{% endblock main %}
