{% load i18n static audodo_tags %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <title>
      {% block title %}
        {% if user.is_authenticated %}{% translate "Home" %}{% else %}{% translate "Dashboard" %}{% endif %}
      {% endblock title %} | audodo
    </title>
    <link rel="preload" as="style" href="{% static "css/simple.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/simple.min.css" %}" />
    <link rel="preload" as="style" href="{% static "css/design.css" %}" />
    <link rel="stylesheet" href="{% static "css/design.css" %}" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="{% static "images/favicon.png" %}" />
  </head>
  <body>
    <header>
      {% block h1 %}
        <h1>audodo</h1>
      {% endblock h1 %}
      <nav>
        {% block nav %}
          <ul>
            <li><a href="{% url "sleep:index" %}">{% translate "Home" %}</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url "sleep:history_current_month" %}">{% translate "History" %}</a></li>
              <li><a href="{% url "user:logout" %}">{% translate "Logout" %}</a></li>
            {% else %}
              <li><a href="{% url "user:login" %}">{% translate "Login" %}</a></li>
            {% endif %}
          </ul>
        {% endblock nav %}
      </nav>
    </header>
    <main>
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }} notice"{% endif %}>{{ message|safe }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {% block main %}
        {% if user.is_authenticated %}

          {% if last_day %}
            <section>
              <h2>{% translate "Last night" %}</h2>
              {% blocktranslate %}
                <p>
                  Night before {{ yesterday }} and {{ current_day }}.<br />
                </p>
                <p class="helptext">
                  This is the data for the last night. It is shown here because it's missing some data. Once complete, it will disappear from your homepage.
                </p>
              {% endblocktranslate %}
              <details>
                <summary>{% translate "Show/hide the form" %}</summary>
                <form method="post" action="{% url "sleep:edit_other_day" yesterday %}">
                  {% csrf_token %}
                  {{ previous_sleep_log_day_form.as_p }}
                  <input type="submit" value="{% translate "Update" %}" />
                </form>
                </details
              </section>
          {% endif %}

          <section>
            <h2>{% translate "This night" %}</h2>
            <p>
              {% blocktranslate %}Night before {{ current_day }} and {{ tomorrow }}.{% endblocktranslate %}
            </p>
            <form method="post" action="{% url "sleep:update_current_day" %}">
              {% csrf_token %}
              {{ sleep_log_day_form.as_p }}
              <input type="submit" value="{% translate "Update" %}" />
            </form>
          </section>

          {% include "sleep/naps_and_awakenings_list.html" %}

        {% else %}
          {% include "hello_world.html" %}
        {% endif %}

      {% endblock main %}
    </main>
    <footer>
      {% block footer %}
        {% translate "audodo" %} {% get_version %} &mdash; <a href="https://gitlab.com/sodimel/audodo">{% translate "Check the code" %}</a> &mdash;
        <form action="{% url 'set_language' %}" method="post" style="display: inline-block;">
          {% csrf_token %}
          <input name="next" type="hidden" value="{{ redirect_to }}">
          <select name="language">
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
              <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.code }}
              </option>
            {% endfor %}
          </select>
          <input type="submit" value="{% translate 'Apply' %}">
        </form>
      {% endblock footer %}
    </footer>
  </body>
</html>
