{% load static i18n %}

<img src="{% static "images/logo.png" %}" alt="{% translate "Audodo logo" %}" />

<p>
  {% translate "Welcome to audodo!"%}
</p>

<p>
  {% translate "Audodo is a free and open source sleep diary, where you can save your sleep data :" %}
</p>

<ul>
  <li>{% translate "Lay down hour" %}</li>
  <li>{% translate "Sleep start hour" %}</li>
  <li>{% translate "Sleep end hour" %}</li>
  <li>{% translate "Get up hour" %}</li>
  <li>{% translate "Quality of sleep" %}</li>
  <li>{% translate "Condition on waking" %}</li>
  <li>{% translate "Condition during the day" %}</li>
  <li>{% translate "Comments" %}</li>
</ul>

<p>
  {% translate "Audodo even lets you save your naps and nocturnal awakenings."%}
</p>

<p>
  {% translate "The goal behind this tool is to let you discover the optimal sleep duration you need."%}
</p>

<p>
  {% translate "You can see statistics about your sleep schedule, and even export data to pdf files!" %}
</p>

<hr />

{% if can_register %}
  <p>
    <a class="button" href="">
      {% translate "Register now" %}
    </a>
  </p>
{% else %}
  <p>
    <i>{% translate "This instance of audodo does not accept new members, go check another audodo instance, or <a href='https://gitlab.com/sodimel/audodo'>deploy your own</a>." %}</i>
  </p>
{% endif %}
